<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="WSStatContext"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=WindsurfStats;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>